
/* Overall Styles */


/* Class Selectors */

/* Navbars */

.nav-home-icon
{
	font-size: 32px;
}

.nav-bar-icon
{
	font-size: 20px;
}

/* borrowed sidebar CSS from W3 Schools page: https://www.w3schools.com/howto/howto_js_sidenav.asp */

.sidenav 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a 
{
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: block;
  transition: 0.5s;
}

.sidenav .closebtn 
{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 25px;
}

.openbtn
{
	font-size: 30px;
	padding: 8px;
}


/* Gallery Page */

.carousel-inner > .item > img 
{ 
	margin: auto; 
}

/* Art Page | Contains modified code found on https://www.w3schools.com/css/css3_images.asp */

.art-cover 
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #3e514c;
}

.art-box:hover .art-cover 
{
  opacity: 1;
}

.art-body
{
	background-color: #7c3d2e;
}

/* Code Projects page */

.project-body
{
	background-color: #425d85;
}

/* About page */

.about-body
{
	background-color: #545d3e;
}

.about-skills
{
	background-color: #425359;
}

.about-info
{
	background-color: #413946;
}

.about-main-icon
{
	font-size: 64px;
}

.about-icon
{
	width: 60px;
	height: 60px;
}

.about-icon-wide
{
	width: 108px;
	height: 60px;
}

/* Contact page | some elements adapted from: https://codepen.io/omascaros/pen/CBapm */

.bodybg
{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-content
{
  transform: scaleY(1);
  background-color: #4da194;
}

.contact-icon
{
  font-size: 128px;
}

/* Blog Page */

.blog-body
{
  background-color: #734b6d;
}

/* fonts */

.main-font
{
	font-family: 'Quattrocento', serif;
	font-weight: 400;
}

.main-font-bold
{
	font-family: 'Quattrocento', serif;
	font-weight: 700;
}

.main-font-sans
{
	font-family: 'Spartan', sans-serif;
	font-weight: 400;
}

.main-font-sans-bold
{
	font-family: 'Spartan', sans-serif;
	font-weight: 600;
}

.code-font
{
	font-family: 'Anonymous Pro', monospace;
}

/* ID selectors */

a:hover 
{
  color: #f1f1f1;
}
